.body {
   display: grid;
   grid-template-areas: 
      "header header"
      "aside main"
      "footer footer";
   grid-template-columns: 200px auto;
   grid-template-rows: 80px auto auto;
}

.o-header {
   grid-area: header;
}

.o-aside {
   grid-area: aside;
}

.o-main {
   grid-area: main;
}

.o-footer {
   grid-area: footer;
}